
<h1 class="title">Todo App</h1>
<section id="todoapp">
  <div id="menubar">
      <span id="todo-count">
        <strong>1</strong>
        <span> </span>
        <span>items</span>
        <span> left</span>
      </span>

      <div>
        <input type="text" placeholder="Filter by text"> &nbsp;&nbsp;
        <select name="" id="">
          <option value="all">All</option>
          <option value="Active">Active</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
      <button>Archive (0)</button>
  </div>
  <div>
    <header id="header">
      <input type="text" id="new-todo" placeholder="What needs to be done?">
    </header>

    <section id="main">
      <input type="checkbox" id="toggle-all">
      <todo-list></todo-list>
    </section>

  </div>
</section>