<div id="appBlock">
  <h1>TODO APP</h1>
  <div class="block">
    <input type="text" placeholder="Filter by text"> &nbsp;&nbsp;
    <select name="" id="">
      <option value="all">All</option>
      <option value="checked">Checked</option>
      <option value="unchecked">Unchecked</option>
    </select>
  </div>
  <div class="block">
    1 of 1 remaining [archive]
  </div>
  <div class="block">
    <todo-list></todo-list>
  </div>
  <div class="block">
    <form (onsubmit) ="onSubmit()">
      <input type="text" [(ngModel)]="todo.text"> &nbsp;&nbsp; <button (click)="onSubmit()">Add</button>
    </form>
  </div>
</div>